@import '../../GlobalStyles/vars-mixins';

.containerCart {
  position: relative;
  display: flex;
  align-items: center;
  &.active {
    display: none;
  }
  .divCart {
    position: relative;
    width: 40px;
    .iconCart {
      min-width: 17.31px;
      min-height: 20px;
    }
    .numberCart {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -10px;
      right: 0;
      width: 22px;
      height: 22px;
      font-size: 12px;
      font-weight: 700;
      border-radius: 50%;
      color: $secondColor;
      background-color: $thirdColor;
    }
  }
  .containerPopUpCart {
    width: 290px;
    height: 430px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    top: 40px;
    right: 0;
    background-color: $secondColor;
    box-shadow: 0px 0px 9px 0px #22222242;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    &::after {
      content: '';
      position: absolute;
      display: block;
      top: -15px;
      right: 0;
      width: 0;
      border-left: 15px solid transparent;
      border-bottom: 15px solid $secondColor;
      border-right: 15px solid transparent;
      border-top: 0 solid $secondColor;
      z-index: 1;
    }
    .footerPopUpCart {
      max-height: 123px;
      height: 100%;
      width: 100%;
      background-color: $secondColor;
      .textPopUpCart {
        color: $fourthColor;
        font-size: 0.875rem;
        text-align: center;
        margin: 20px 0;
        span {
          color: $primaryColor;
          font-weight: 700;
        }
      }
      .buttonPopUpCart {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 325px;
        max-height: 44px;
        height: 100%;
        background-color: $thirdColor;
        text-align: center;
        border-radius: 50px;
        margin: auto 15px;
        opacity: 0.5;
        p {
          color: $secondColor;
          font-size: 0.875rem;
          font-weight: 700;
          margin: auto 0;
        }
      }
    }
  }
  &:hover {
    .containerPopUpCart {
      opacity: 1;
      visibility: visible;
    }
  }
}
