@import '../../basic-style/vars-mixins';

body {
  overflow: auto;
  &.active {
    overflow: hidden;
  }
}

.headerMobile {
  position: relative;
  @include desktop {
    display: none;
  }
  .elementsMobile {
    position: fixed;
    display: flex;
    width: 100%;
    padding: 15px 15px 0 15px;
    justify-content: space-between;
    background-color: $secondColor;
    z-index: 155;
    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 57.41px;
      &.active {
        width: 100%;
      }
      .spansHamburguer {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 400;
        padding: 20px 13px 20px 20px;
        .linha1 {
          position: absolute;
          background-color: $thirdColor;
          height: 4px;
          width: 30px;
          border: none;
          border-radius: 4px;
          left: 0;
          transition: 0.5s ease-in-out;
          &.active {
            transform: rotate(45deg);
            background-color: $thirdColor;
          }
        }
        .linha2 {
          position: absolute;
          background-color: $thirdColor;
          height: 4px;
          width: 30px;
          border: none;
          border-radius: 4px;
          top: 10px;
          left: 0;
          transition: 0.5s ease-in-out;
          &.active {
            transform: rotate(-45deg);
            top: 18px;
            background-color: $thirdColor;
          }
        }
        .linha3 {
          position: absolute;
          background-color: $thirdColor;
          height: 4px;
          width: 30px;
          border: none;
          border-radius: 4px;
          top: 26px;
          left: 0;
          transition: 0.5s ease-in-out;
          &.active {
            transform: rotate(-45deg);
            top: 18px;
            background-color: $thirdColor;
          }
        }
      }
      .iconMenu {
        display: none;
        width: 20px;
        height: 20px;
        z-index: 400;
        &.active {
          display: flex;
          animation: showUlMenu 0.5s forwards;
        }
      }
      .ulMenu {
        display: none;
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: $secondColor;
        z-index: 200;
        top: 0;
        left: 0;
        padding: 70px 15px 0 15px;
        &.active {
          display: flex;
          animation: showUlMenu 0.5s forwards;
        }
        li {
          display: flex;
          flex-direction: column;
          border-top: 1px solid #999999;
          padding: 10px 0;
          div {
            display: flex;
            justify-content: space-between;
            p {
              font-weight: 600;
              &:hover {
                transition: 0.3s ease;
                color: $thirdColor;
              }
            }
            img {
              transition: 0.4s;
              &.active {
                transform: rotate(90deg);
              }
            }
            &.active {
              margin-bottom: 10px;
            }
          }
          ul {
            display: none;
            padding-left: 10px;
            li {
              font-weight: 600;
            }
            &.active {
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
    }
    .logo {
      max-width: 100px;
      &.active {
        display: none;
      }
    }
    .containerCart {
      position: relative;
      display: flex;
      align-items: center;
      &.active {
        display: none;
      }
      .divCart {
        position: relative;
        width: 40px;
        .iconCart {
          min-width: 17.31px;
          min-height: 20px;
        }
        .numberCart {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: -10px;
          right: 0;
          width: 22px;
          height: 22px;
          font-size: 12px;
          font-weight: 700;
          border-radius: 50%;
          color: $secondColor;
          background-color: $thirdColor;
        }
      }
      .containerPopUpCart {
        width: 290px;
        height: 430px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        top: 40px;
        right: 0;
        background-color: $secondColor;
        box-shadow: 0px 0px 9px 0px #22222242;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        z-index: 1;
        &.active {
          opacity: 1;
          visibility: visible;
        }
        &::after {
          content: '';
          position: absolute;
          display: block;
          top: -15px;
          right: 0;
          width: 0;
          border-left: 15px solid transparent;
          border-bottom: 15px solid $secondColor;
          border-right: 15px solid transparent;
          border-top: 0 solid $secondColor;
          z-index: 1;
        }
        .footerPopUpCart {
          max-height: 123px;
          height: 100%;
          width: 100%;
          background-color: $secondColor;
          .textPopUpCart {
            color: $fourthColor;
            font-size: 0.875rem;
            text-align: center;
            margin: 20px 0;
            span {
              color: $primaryColor;
              font-weight: 700;
            }
          }
          .buttonPopUpCart {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 325px;
            max-height: 44px;
            height: 100%;
            background-color: $thirdColor;
            text-align: center;
            border-radius: 50px;
            margin: auto 15px;
            opacity: 0.5;
            p {
              color: $secondColor;
              font-size: 0.875rem;
              font-weight: 700;
              margin: auto 0;
            }
          }
        }
      }
    }
  }
  .containerSearch {
    position: absolute;
    width: 100%;
    margin-top: 80px;
    padding: 0 15px;
    .divInput {
      display: flex;
      align-items: center;
      .inputSearch {
        width: 100%;
        border: none;
        height: 48px;
        background-color: $fifthColor;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        padding-left: 20px;
        outline-style: none;
      }
      .iconSearch {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 50px;
        background-color: $fifthColor;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
      }
    }
    .containerElementsSearch {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      &.active {
        visibility: visible;
        opacity: 1;
      }
      .titleElementsSearch {
        text-align: center;
        padding: 24px 0;
        font-size: 0.875rem;
        font-weight: 600;
      }
      .subCategoriesSearch {
        display: flex;
        justify-content: space-around;
        p {
          color: $fourthColor;
          padding: 0;
          margin-bottom: 22px;
        }
      }
      .contaierProductsSearch {
        display: flex;
        flex-direction: column;
        background-color: $fifthColor;
        padding: 30px;
        .productsSearch {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 0;
          }
          img {
            margin-right: 20px;
          }
          p {
            text-align: left;
            text-transform: uppercase;
            padding: 0;
            font-size: 0.875rem;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.headerDesktop {
  display: none;
  position: fixed;
  width: 100%;
  padding: 15px 15px 0 15px;
  background-color: $secondColor;
  z-index: 155;
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
  .containerSearch {
    position: relative;
    width: 100%;
    max-width: 400px;
    padding: 0 15px;
    .divInput {
      display: flex;
      align-items: center;
      z-index: 10;
      .inputSearch {
        width: 100%;
        border: none;
        height: 48px;
        background-color: $fifthColor;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        padding-left: 20px;
        outline-style: none;
        &.active {
          border-top: solid 1px $primaryColor;
          border-left: solid 1px $primaryColor;
          border-bottom: solid 1px $primaryColor;
        }
      }
      .iconSearch {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 50px;
        background-color: $fifthColor;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        &.active {
          border-top: solid 1px $primaryColor;
          border-right: solid 1px $primaryColor;
          border-bottom: solid 1px $primaryColor;
        }
      }
    }
    .containerElementsSearch {
      position: absolute;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 370px;
      visibility: hidden;
      opacity: 0;
      cursor: pointer;
      top: 19px;
      padding-top: 19px;
      transition: opacity 0.4s ease-in-out;
      box-shadow: 0px 0px 9px 0px #22222242;
      z-index: -1;
      .titleElementsSearch {
        text-align: center;
        padding: 24px 0;
        font-size: 0.875rem;
        font-weight: 600;
      }
      .subCategoriesSearch {
        display: flex;
        justify-content: space-around;
        p {
          color: $fourthColor;
          font-size: 0.875rem;
          padding: 0;
          margin-bottom: 22px;
        }
      }
      .containerProductsSearch {
        display: flex;
        flex-direction: column;
        background-color: $fifthColor;
        padding: 30px;
        .productsSearch {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 0;
          }
          img {
            margin-right: 20px;
          }
          p {
            text-align: left;
            text-transform: uppercase;
            padding: 0;
            font-size: 0.875rem;
            font-weight: 600;
          }
        }
      }
    }
    &:hover {
      .containerElementsSearch {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

@keyframes showUlMenu {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
