@import '../../GlobalStyles/vars-mixins';

.containerSearch {
  position: absolute;
  width: 100%;
  margin-top: 80px;
  padding: 0 15px;
  @include desktop {
    position: relative;
    max-width: 370px;
    padding: 0;
    margin: 0;
  }
  .divInput {
    display: flex;
    align-items: center;
    z-index: 10;
    .inputSearch {
      width: 100%;
      border: none;
      height: 48px;
      background-color: $fifthColor;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      padding-left: 20px;
      outline-style: none;
    }
    .iconSearch {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      width: 50px;
      background-color: $fifthColor;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }
  .containerElementsSearch {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    background-color: $secondColor;
    z-index: 400;
    @include desktop {
      position: absolute;
      width: 370px;
      cursor: pointer;
      transition: opacity 0.4s ease-in-out;
      box-shadow: 0px 0px 9px 0px #22222242;
    }
    &.active {
      visibility: visible;
      opacity: 1;
    }
    .titleElementsSearch {
      text-align: center;
      padding: 24px 0;
      font-size: 0.875rem;
      font-weight: 600;
    }
    .subCategoriesSearch {
      display: flex;
      justify-content: space-around;
      p {
        color: $fourthColor;
        font-size: 0.875rem;
        padding: 0;
        margin-bottom: 22px;
      }
    }
    .containerProductsSearch {
      display: flex;
      flex-direction: column;
      background-color: $fifthColor;
      padding: 30px;
      .productsSearch {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
        img {
          margin-right: 20px;
        }
        p {
          text-align: left;
          text-transform: uppercase;
          padding: 0;
          font-size: 0.875rem;
          font-weight: 600;
        }
      }
    }
  }
  @include desktop {
    &:hover {
      .containerElementsSearch {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
